@use '../../styles/mixins/z-index' as *;

@layer components {
    .navbar {
        --_navbar-bg: var(--c-grey-200);
        --_navbar-border-color: var(--c-grey-300);

        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: solid 2px var(--_navbar-border-color);
        background-color: var(--_navbar-bg);

        @include z-index('navbar');

        ul {
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            list-style: none;
        }
    }

    .nav-item {
        --_nav-item-color: var(--c-grey-600);
        --_nav-fs: var(--fs--1);
        --_nav-item-gap: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--_nav-item-gap);
        color: var(--_nav-item-color);
        font-size: var(--_nav-item-fs);
        text-decoration: none;
    }

    .icon {
        --icon-size: 1.5rem;
    }
}
