@use '../../styles/functions/rem' as *;

@layer components {
    .summary {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: var(--fs-0);
        font-weight: var(--fw-600);
        gap: var(--space-3xs);
        padding-block-end: var(--space-xs);

        &::marker {
            display: none;
            content: '';
        }
    }

    .icon {
        stroke-width: rem(3);
        transition: rotate 0.2s ease;

        &.open {
            rotate: 90deg;
        }
    }
}
