@use '../../styles/mixins/line-clamp' as *;
@use '../../styles/mixins/z-index' as *;
@use '../../styles/functions/rem' as *;

@layer components {
    .card {
        --_card-bg: var(--c-grey-100);
        --_card-rad: var(--r-10);
        --_card-space: var(--space-xs);

        display: grid;
        max-width: rem(375);
        padding: var(--_card-space);
        border-radius: var(--_card-rad);
        background-color: var(--_card-bg);
        grid-template-areas: 'stack';
        transition: transform 0.1s ease;

        > * {
            grid-area: stack;
        }

        &:has(.link:active) {
            transform: scale(0.97);
        }
    }

    .inner {
        display: flex;
        flex-direction: column;
    }

    .link {
        @include z-index('link');
    }

    .heading {
        --_heading-fs: var(--fs-0);
        --_heading-lh: var(--lh-1);
        --_heading-line-height: var(--lh-4);
        --_heading-font-weight: var(--fw-700);

        max-width: 20ch;
        font-size: var(--_heading-fs);
        line-height: var(--_heading-lh);
        margin-block-end: var(--space-3xs);
        text-wrap: pretty;
    }

    .list {
        --_list-fs: var(--fs--1);
        --_list-color: var(--c-grey-400);

        max-width: 30ch;
        color: var(--_list-color);
        font-size: var(--_list-fs);

        @include line-clamp;
    }

    .button {
        margin-block-start: var(--space-xs);

        @include z-index('button');
    }
}
