@use '../../styles/mixins/outline' as *;
@use '../../styles/mixins/hover' as *;

@layer components {
    .btn {
        --_btn-color-bg: var(--c-grey-500);
        --_btn-color-fg: var(--c-grey-200);
        --_btn-gap-s: var(--space-2xs);
        --_btn-gap-m: var(--space-l);
        --_btn-radius: var(--r-10);
        --_btn-height: 20px;
        --_btn-ease: 0.2s ease-in-out;

        all: unset;
        display: inline-flex;
        height: var(--_btn-height);
        align-items: center;
        justify-content: center;
        padding: var(--_btn-gap-s) var(--_btn-gap-m);
        border-radius: var(--_btn-radius);
        background-color: var(--_btn-color-bg);
        color: var(--_btn-color-fg);
        cursor: pointer;
        gap: var(--_btn-gap-s);
        transition:
            background-color var(--_btn-ease),
            color var(--_btn-ease);

        &:focus-visible {
            @include outline;
        }

        @include hover {
            --_btn-color-bg: var(--c-grey-400);
        }

        &:active {
            --_btn-color-bg: var(--c-grey-400);
        }

        &[disabled] {
            opacity: 0.75;
            pointer-events: none;
        }
    }

    .success {
        &:not(.ghost) {
            --_btn-color-bg: var(--c-success-100);

            @include hover {
                --_btn-color-bg: var(--c-success-150);
            }

            &:active {
                --_btn-color-bg: var(--c-success-150);
            }
        }
    }

    .danger {
        &:not(.ghost) {
            --_btn-color-bg: var(--c-error-100);

            @include hover {
                --_btn-color-bg: var(--c-error-150);
            }

            &:active {
                --_btn-color-bg: var(--c-error-150);
            }
        }
    }

    .ghost {
        --_btn-color-bg: transparent;
        --_btn-color-fg: var(--c-grey-500);
        --_btn-radius: var(--r-50);

        border: 1px solid currentcolor;

        @include hover {
            --_btn-color-bg: var(--c-grey-500);
            --_btn-color-fg: var(--c-grey-200);
        }

        &:active {
            --_btn-color-bg: var(--c-grey-500);
            --_btn-color-fg: var(--c-grey-200);
        }
    }

    .spinner {
        --spinner-height: var(--_btn-height);
    }
}
