@import 'tailwindcss';

@font-face {
    font-display: swap;
    font-family: Geist;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Geist;
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Geist-SemiBold.woff2') format('woff2');
}

@theme {
    --default-font-family: 'Geist';
    --color-primary: hsl(48deg 100% 50%);
    --color-primary-light: hsl(48deg 100% 94%);
    --color-global-text: var(--color-gray-800);
    --color-global-text-light: var(--color-gray-500);
    --color-global-border: var(--color-gray-300);
    --color-global-bg: var(--color-gray-100);
    --color-global-bg-light: var(--color-gray-50);
    --color-error: var(--color-red-600);
}

body {
    background-color: var(--color-global-bg);
    color: var(--color-global-text);
}
