@use './variables' as *;
@use 'utopia-core-scss/src/utopia' as utopia;

@font-face {
    font-display: swap;
    font-family: Geist;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Geist;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Geist-SemiBold.woff2') format('woff2');
}

:root {
    /* -------------------------------------------------------------------------------------------------
     * Colors
     * ----------------------------------------------------------------------------------------------- */
    --c-grey-100: hsl(0deg 0% 100%);
    --c-grey-200: hsl(0deg 0% 97%);
    --c-grey-300: hsl(0deg 0% 82%);
    --c-grey-400: hsl(0deg 0% 40%);
    --c-grey-500: hsl(0deg 0% 11%);
    --c-grey-600: hsl(0deg 0% 2%);
    --c-primary: hsl(48deg 100% 50%);
    --c-primary-light: hsl(48deg 100% 94%);
    --c-success-100: hsl(155deg 54% 45%);
    --c-success-150: hsl(155deg 54% 45% / 50%);
    --c-error-100: hsl(3deg 68% 57%);
    --c-error-150: hsl(3deg 68% 57% / 50%);
    --c-global-text: var(--c-grey-600);
    --c-global-bg: var(--c-grey-200);

    /* -------------------------------------------------------------------------------------------------
     * Spacing
	 * @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
     * ----------------------------------------------------------------------------------------------- */
    @include utopia.generateSpaceScale(
        (
            'minWidth': $scale-min-width,
            'maxWidth': $scale-max-width,
            'minSize': $scale-min-size,
            'maxSize': $scale-max-size,
            'positiveSteps': $space-scale-positive-steps,
            'negativeSteps': $space-scale-negative-steps,
            'customSizes': (),
            'prefix': $space-scale-prefix,
            'relativeTo': 'viewport-width',
        )
    );

    /* -------------------------------------------------------------------------------------------------
     * Typography
     * @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
     * ----------------------------------------------------------------------------------------------- */
    --f-primary: 'Geist', system-ui, -apple-system, segoe ui, roboto, ubuntu,
        cantarell, noto sans, sans-serif;

    @each $fw in $font-weights {
        --fw-#{$fw}: #{$fw};
    }

    @each $key, $lh in $line-heights {
        --lh-#{$key}: #{$lh};
    }

    @include utopia.generateTypeScale(
        (
            'minWidth': $scale-min-width,
            'maxWidth': $scale-max-width,
            'minFontSize': $scale-min-size,
            'maxFontSize': $scale-max-size,
            'minTypeScale': $type-scale-min-size,
            'maxTypeScale': $type-scale-max-size,
            'positiveSteps': $type-scale-positive-steps,
            'negativeSteps': $type-scale-negative-steps,
            'prefix': $type-scale-prefix,
            'relativeTo': 'viewport-width',
        )
    );

    /* -------------------------------------------------------------------------------------------------
	 * Radius
	 * ----------------------------------------------------------------------------------------------- */
    --r-10: 10px;
    --r-50: 50px;
    --r-circle: 999px;
    --r-global: var(--r-10);
}
