:root {
    /* -------------------------------------------------------------------------------------------------
     * Colors
     * ----------------------------------------------------------------------------------------------- */
    --c-dark-10: hsl(0deg 0% 45%);
    --c-dark-15: hsl(0deg 0% 45% / 50%);
    --c-dark-20: hsl(0deg 0% 26%);
    --c-dark-25: hsl(0deg 0% 26% / 50%);
    --c-dark-30: hsl(0deg 0% 16%);
    --c-dark-35: hsl(0deg 0% 16% / 50%);
    --c-dark-40: hsl(0deg 0% 1%);
    --c-dark-45: hsl(0deg 0% 1% / 50%);
    --c-light-10: hsl(0deg 0% 97%);
    --c-success-10: hsl(155deg 54% 45%);
    --c-success-15: hsl(155deg 54% 45% / 50%);
    --c-error-10: hsl(3deg 68% 57%);
    --c-error-15: hsl(3deg 68% 57% / 50%);
    --c-info-10: hsl(266deg 71% 56%);
    --c-info-15: hsl(266deg 71% 56% / 50%);
    --gradient-primary: linear-gradient(
        90deg,
        var(--c-dark-4) 0%,
        var(--c-dark-3) 100%
    );
    --c-global-text: var(--c-light-10);
    --c-global-bg: var(--c-dark-40);

    /* -------------------------------------------------------------------------------------------------
     * Spacing
	 * @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
     * ----------------------------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------------------------------
     * Typography
     * @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
     * ----------------------------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------------------------------
	 * Radius
	 * ----------------------------------------------------------------------------------------------- */
    --r-10: 10px;
    --r-50: 50px;
    --r-global: var(--r-10);
}
