/* -------------------------------------------------------------------------------------------------
 * Global variables
 * ----------------------------------------------------------------------------------------------- */
$scale-min-width: 320;
$scale-max-width: 1240;
$scale-min-size: 16;
$scale-max-size: 18;
$space-scale-positive-steps: (1.5, 2, 3, 4, 6);
$space-scale-negative-steps: (0.75, 0.5, 0.25);
$space-scale-prefix: 'space-';
$type-scale-positive-steps: 5;
$type-scale-negative-steps: 2;
$type-scale-prefix: 'fs-';
$type-scale-min-size: 1.2;
$type-scale-max-size: 1.25;
$font-weights: (400, 600);
$line-heights: (
    '1': 1.25,
    '2': 1.5,
    '3': 1.75,
);
