@layer components {
    .overlay {
        position: fixed;
        background-color: var(--c-grey-450);
        inset: 0;
    }

    .content {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        min-height: 30vh;
        flex-direction: column;
        border-radius: var(--r-10);
        background-color: var(--c-grey-200);
        margin-block-start: var(--space-3xl);
        outline: none;
        padding-inline: var(--space-xs);
    }

    .handle {
        margin: var(--space-2xs);
    }
}
