@use 'sass:map';
@use '../../styles/mixins/mq' as *;
@use '../../styles/mixins/outline' as *;

@layer components {
    .input {
        --_input-border: var(--c-grey-400);
        --_input-bg: transparent;
        --_input-radius: var(--r-global);
        --_input-gap: var(--space-xs);
        --_input-fs: var(--fs--1);
        --_input-color: var(--c-global-text);

        position: relative;
        display: block;
        padding: var(--_input-gap);
        border: solid 1px var(--_input-border);
        border-radius: var(--_input-radius);
        background-color: var(--_input-bg);
        color: var(--_input-color);
        font-size: var(--_input-fs);
        margin-block-start: var(--space-2xs);

        &:has(input:focus-visible) {
            @include outline;
        }

        span {
            position: absolute;
            top: calc(var(--space-2xs) * -1);
            background-color: var(--c-grey-200);
            padding-inline: var(--space-3xs);
        }

        input {
            all: unset;
            width: 100%;
            cursor: auto;
        }
    }

    .invalid {
        --_input-border: var(--c-error-100);
    }

    .validation-message {
        color: var(--c-error-100);
        font-size: var(--fs--1);
        padding-block-start: var(--space-2xs);
        padding-inline: var(--space-xs);

        &:empty {
            display: none;
        }
    }
}
